---
import type { Photos } from "~/types/editions";
import Section from "../shared/Section.astro";
import { BtnLoadPhotos } from "./BtnLoadPhotos.tsx";

interface Props {
  edition: number;
  photos: Photos[];
}

const { edition, photos } = Astro.props;
---

<Section title="galería" size="full">
  <section class="columns-1 gap-x-6 md:columns-2 xl:columns-3">
    <section
      class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-6"
      id="gallery"
    >
      {
        photos.map((photo, index) => (
          <div class="group  img-container">
            <img
              src={`/images/editions/${edition + 1}/gallery/thumbnails/img-${
                index + 1
              }.webp`}
              alt="photo"
              class="first-img"
              width={photo.width}
              height={photo.height}
            />
            <img
              src={`/images/editions/${edition + 1}/gallery/thumbnails/img-${
                index + 1
              }.webp`}
              alt="photo"
              class="second-img scale-100"
            />
          </div>
        ))
      }
    </section>
  </section>

  <!-- TODO: Add functionality: Link to all photos -->
  <BtnLoadPhotos edition={edition} offset={photos.length} client:visible />
</Section>

<style is:global>
  .img-container {
    @apply hover:scale-105 hover:contrast-[110%] transition-all relative;

    cursor: zoom-in;
    animation: fade-up-images linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 20%;
  }

  .first-img {
    @apply object-cover rounded-xl w-full;
  }

  .second-img {
    @apply blur-md opacity-0 group-hover:opacity-100 transition-all -z-10 absolute inset-0 contrast-150 rounded-xl w-full;
  }

  @keyframes fade-up-images {
    0% {
      opacity: 0;
      translate: 0 50px;
      scale: 0.7;
    }
    100% {
      opacity: 1;
      translate: 0 0;
      scale: 1;
    }
  }
</style>
