---
import type { EditionInfo } from "~/types/editions";

interface Props {
  winners: EditionInfo[];
}
const { winners } = Astro.props;
---

<article class="flex flex-col gap-2 flex-1 min-w-80 xl:max-w-[350px] w-full">
  {
    winners.map((winner) => (
      <button class="odd:bg-gradient-to-r odd:from-blue-600 odd:to-sky-400/45 bg-gradient-to-r from-gray-700 to-blue-900 flex justify-between px-4 py-0.5 rounded-sm winners">
        <span class="text-sm">{winner.categoria}</span>
        <span class="text-xs font-bold">{winner.ganador}</span>
      </button>
    ))
  }
</article>

<style>
  .winners:hover {
    box-shadow: 0 0 10px 5px rgb(62, 159, 255);
  }
</style>
