---
import Layout from "~/layouts/Layout.astro";
import Intro from "~/components/intro/Intro.astro";
import Bento from "~/components/bento/Bento.astro";
import PreFooter from "~/components/footer/PreFooter.astro";
import Footer from "~/components/footer/Footer.astro";
import Video from "~/components/video/Video.astro";
---

<Layout titlePage="Premios Esland" description="Premios Esland">
  <Video />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
  </main>

</Layout>

<style></style>
