---
import ContentNoSession from "~/components/vote-page/vote-instructions/VoteInstructions.astro";
import Layout from "~/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
import { VoteSystem } from "~/components/vote-page/vote-system/VoteSystem";

const session = await getSession(Astro.request);
const bg = session ? "/vote-bg.webp" : "/vote-bg-no-session.webp";
---

<Layout titlePage="Votación" description="Premios Esland">
  <main class="flex justify-center items-center relative min-h-screen">
    <img
      src=`/images/backgrounds/${bg}`
      alt="vote background without session"
      class="object-cover absolute -z-10 h-full object-center"
    />
    {
      session ? (
        <VoteSystem client:load user={session.user ?? ({} as any)} />
      ) : (
        <ContentNoSession />
      )
    }
  </main>
</Layout>

<script>
  const { signIn } = await import("auth-astro/client");
  import { signOut } from "auth-astro/client";

  const login = document.getElementById("login");
  const logout = document.getElementById("logout");

  if (login) {
    login.addEventListener("click", async () => {
      await signIn("twitch");
    });
  }

  console.log(logout);
  if (logout) {
    logout.addEventListener("click", async () => {
      console.log("HOla");
      await signOut();
    });
  }
</script>

<style>
  li {
    @apply flex gap-6 items-center text-wrap;
  }
</style>
