---
import Header from "~/components/header/Header.astro";
import "@fontsource-variable/onest";
import { ViewTransitions } from "astro:transitions";
import Footer from "~/components/footer/Footer.astro";

interface Props {
  titlePage: string;
  subtitle?: string;
  description: string;
}

const { titlePage, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{titlePage} - Premios ESLAND 2024</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />

    <style is:global>
      :root {
        color-scheme: dark;
      }

      html {
        background: #151a36;
        font-family: "Onest Variable";
      }

      .section {
        @apply mx-auto my-44 px-12;
      }

      p {
        color: rgba(255, 255, 255, 0.9);
        line-height: 1.4;
        font-weight: 100;
        font-size: 1em;
        letter-spacing: 0.5px;
        text-wrap: pretty;
      }

      p strong {
        color: white;
        font-weight: 700;
      }
    </style>
  </body>
</html>
