---
import Header from "~/components/header/Header.astro";

interface Props {
  titlePage: string;
  subtitle?: string;
  description: string;
}

const { titlePage, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{titlePage}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }

  html {
    background: #151a36;
  }

  .section {
    @apply py-10 max-w-[1400px];
  }
</style>
