---
import { ViewTransitions } from "astro:transitions";
import Footer from "~/components/footer/Footer.astro";
import Header from "~/components/hero/Header.astro";

interface Props {
  titlePage: string;
  description: string;
}

const { titlePage, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{titlePage} - Premios ESLAND 2024</title>
    <ViewTransitions />
    <style is:global>
      @font-face {
        font-family: "Tomaso";
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url("/fonts/tomaso.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC,
          U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      :root {
        color-scheme: dark;
      }

      html {
        background: #151a36;
        @apply font-onest;
      }

      main {
        @apply max-w-5xl mx-auto px-6 sm:px-20 mt-28 mb-24 flex flex-col gap-20;
      }

      h2 {
        @apply text-wrap text-4xl font-semibold tracking-wide uppercase;
      }

      hgroup {
        @apply text-pretty flex flex-col gap-6 w-full;
      }

      p {
        @apply text-pretty font-extralight font-onest tracking-widest text-lg;
      }

      p a {
        @apply font-bold;
        transition: text-shadow 0.3s ease;
      }

      p a:hover {
        text-shadow:
          0 0 10px rgba(255, 255, 255, 0.8),
          0 0 20px rgba(255, 255, 255, 0.8),
          0 0 22px rgba(255, 255, 255, 0.8),
          0 0 40px rgba(66, 220, 219, 0.8),
          0 0 60px rgba(66, 220, 219, 0.8),
          0 0 80px rgba(66, 220, 219, 0.5),
          0 0 100px rgba(66, 220, 219, 0.5),
          0 0 140px rgba(66, 220, 219, 0.5),
          0 0 200px rgba(66, 220, 219, 0.5);
      }

      p strong {
        @apply font-bold capitalize;
      }

      hgroup ul {
        @apply list-disc flex flex-col gap-4 text-lg font-thin tracking-wide;
      }
    </style>
  </head>

  <body>
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
